body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;

}

header {
    background-color: #0074d9;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main nav ul li a[href] {
    color: #333; 
    text-decoration: none;
}

main nav ul li a[href]:hover  {
     opacity: 0.8;
}

main nav ul li {
    list-style: none;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    align-items: center;
}